<form action="/search" method="POST">
    <label for="Australia (AU)">Choose a Country:</label>
    <select name="dropdown" id="dropdown">
        <option value="AU Australia">Australia</option>
        <option value="AR">Argentina</option>
        <option value="BS">Bahamas</option>
        <option value="CA">Canada</option>
        <option value="CH">Switzerland</option>
        <option value="CN China">China</option>
        <option value="DE">Germany</option>
        <option value="EG">Egypt</option>
        <option value="FR">France</option>
        <option value="GE">United Kingdom</option>
        <option value="IT">Italy</option>
    </select>
   
    <!-- <input type="text" name="data"> -->
    <!-- <button type="submit">Submit</button> -->

    <br> <br>
    <label for="Australia (AU)">Choose a year:</label>
    <select name="year" id="year">
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
       
    </select>
    <br> <br>
    <!-- <input type="text" name="data"> -->
    <button type="submit">Submit</button>


</form>
