
.left-section{
    width: 300px;
    border-right: .5px solid #cccccc;
    height: 100% vh;
    margin: 0px;
    /* background-color: cadetblue; */
}

.twitterLogo-outline {
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
    width: 45px;
    /* background-color: brown; */
}


.twitter-logo{
color: #1DA1F2;
margin-left: 2px;
margin-top: 2px;
width: 40px;
height: 40px;
}


.links {
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    /* margin-bottom: 10px; */
    height: 50px;
    width: 200px;
    font-weight: bolder;
}

.links:hover{
    background-color: #D5F3FE;
    cursor: pointer;
}

.link-icon{
    margin-left: 10px;
    margin-right: 20px;
    width: 1.5em;
    height: 1.5em;
}

.link-text{
    font-size: 20px;
}

Button {

    margin-left: 30px;
    margin-top: 10px;
    border-radius: 20px;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    background-color: #1DA1F2;
    font-weight: bolder;
    font-size: 15px;
}

Button:hover {
/* color: red; */
cursor: pointer;
background-color: #3C99DC;
}



@media (max-width: 600px){

    .left-section {
        display: none;
    }


}