.container {
outline: 5px solid rgba(206, 197, 197, 0.76);
margin: 50px auto;
border-width: 100px;
border: 2px solid rgba(128, 128, 128, 0.815);
width: 300px; 
height:150px;
background-color: rgba(245, 245, 245, 0.897)
opacity: 0.2;
}

.box {display: flex;

justify-content: center;

}


.banner {
height: 100px;
width: 60px;
border: 1px solid rgba(83, 82, 82, 0.459);
margin-top: 20px;
}

p .line {
display: inline-flex;
    border-top: 3px solid rgb(136, 30, 30);

}