
<div class="container">

    <% for(var i in FEdata) {%>
        <p> Name of user is <%= FEdata[i]["name"] %> and age is <%= FEdata[i]["age"] %></p>
           
        </div>    
    <% } %>
</div>  